In [1]:
# Here We'll test wrangle modules / explore modules / anything else needed

In [1]:
import wrangle
import pandas as pd

In [2]:
df = wrangle.acquire_emails()

In [3]:
df.head()

,file,subject,sender,date,content
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s..."
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.

In [4]:
df, time_series_df = wrangle.create_dataframes_wrangle()

polarity and subjectivity algo complete
added sub and pol to df

In [5]:
df.head()

,file,subject,sender,date,content,clean,tokenize,stop_words,lemmatize,intensity,polarity,subjectivity,is_poi,is_internal
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n,here is our forecast,here is our forecast,forecast,forecast,0.0000,0.00,0.000000,False,True
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling business meeting takes fun trip espe...,traveling business meeting take fun trip espec...,0.9313,0.15,0.613333,False,True
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!,test successful way to go,test successful way to go,test successful way go,test successful way go,0.5859,0.75,0.950000,False,True
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s...",randy can you send me a schedule of the sala...,randy can you send me a schedule of the salary...,randy send schedule salary level everyone sche...,randy send schedule salary level everyone sche...,0.0000,0.00,0.000000,False,True
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.,let's shoot for tuesday at 1145,let ' s shoot for tuesday at 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,-0.3400,0.00,0.000000,False,True

In [6]:
time_series_df.head()

                           intensity  polarity  subjectivity  year  month
date
1999-01-04 10:21:00+00:00     0.2023  0.000000      0.000000  1999      1
1999-01-04 10:21:00+00:00     0.2023  0.000000      0.000000  1999      1
1999-01-04 12:11:00+00:00     0.3182  0.016667      0.266667  1999      1
1999-01-04 12:11:00+00:00     0.3182  0.016667      0.266667  1999      1
1999-01-05 06:36:00+00:00     0.9895  0.076871      0.329783  1999      1

In [7]:
df.to_csv('01-clean_data.csv')

In [8]:
time_series_df.to_csv('02-ts_data.csv')

In [2]:
df = pd.read_csv('01-clean_data.csv')
df.head()

,Unnamed: 0,file,subject,sender,date,content,clean,tokenize,stop_words,lemmatize,intensity,polarity,subjectivity,is_poi,is_internal
0,0,allen-p/_sent_mail/1.,NaN,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n,here is our forecast,here is our forecast,forecast,forecast,0.0000,0.00,0.000000,False,True
1,1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling business meeting takes fun trip espe...,traveling business meeting take fun trip espec...,0.9313,0.15,0.613333,False,True
2,2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!,test successful way to go,test successful way to go,test successful way go,test successful way go,0.5859,0.75,0.950000,False,True
3,3,allen-p/_sent_mail/1000.,NaN,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s...",randy can you send me a schedule of the sala...,randy can you send me a schedule of the salary...,randy send schedule salary level everyone sche...,randy send schedule salary level everyone sche...,0.0000,0.00,0.000000,False,True
4,4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.,let's shoot for tuesday at 1145,let ' s shoot for tuesday at 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,-0.3400,0.00,0.000000,False,True

In [3]:
df = df.drop(columns = ['Unnamed: 0'])
df.head()

,file,subject,sender,date,content,clean,tokenize,stop_words,lemmatize,intensity,polarity,subjectivity,is_poi,is_internal
0,allen-p/_sent_mail/1.,NaN,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n,here is our forecast,here is our forecast,forecast,forecast,0.0000,0.00,0.000000,False,True
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling business meeting takes fun trip espe...,traveling business meeting take fun trip espec...,0.9313,0.15,0.613333,False,True
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!,test successful way to go,test successful way to go,test successful way go,test successful way go,0.5859,0.75,0.950000,False,True
3,allen-p/_sent_mail/1000.,NaN,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s...",randy can you send me a schedule of the sala...,randy can you send me a schedule of the salary...,randy send schedule salary level everyone sche...,randy send schedule salary level everyone sche...,0.0000,0.00,0.000000,False,True
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.,let's shoot for tuesday at 1145,let ' s shoot for tuesday at 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,-0.3400,0.00,0.000000,False,True

In [4]:
df.date = pd.to_datetime(df.date, utc=True)

In [7]:
isPoi_df = df[df.is_poi == True]
isPoi_df.head()

,file,subject,sender,date,content,clean,tokenize,stop_words,lemmatize,intensity,polarity,subjectivity,is_poi,is_internal
1042,allen-p/all_documents/50.,"New Generation, Nov 30th",tim.belden@enron.com,2000-12-05 06:42:00+00:00,---------------------- Forwarded by Tim Belden...,forwarded by tim beldenhouect on 12052000 054...,forwarded by tim beldenhouect on 12052000 0544...,forwarded tim beldenhouect 12052000 0544 krist...,forwarded tim beldenhouect 12052000 0544 krist...,0.0000,-0.015152,0.393939,True,True
1284,allen-p/deleted_items/149.,Check this out -,jeff.richter@enron.com,2001-10-23 14:44:39+00:00,"Phillip,\n\nWhich one should I do, the 8x12 is...",phillip which one should i do the 8x12 is hal...,phillip which one should i do the 8x12 is half...,phillip one 8x12 half price jeff original mess...,phillip one 8x12 half price jeff original mess...,0.9831,0.065981,0.428776,True,True
1694,allen-p/discussion_threads/190.,"New Generation, Nov 30th",tim.belden@enron.com,2000-12-05 06:42:00+00:00,---------------------- Forwarded by Tim Belden...,forwarded by tim beldenhouect on 12052000 054...,forwarded by tim beldenhouect on 12052000 0544...,forwarded tim beldenhouect 12052000 0544 krist...,forwarded tim beldenhouect 12052000 0544 krist...,0.0000,-0.015152,0.393939,True,True
2103,allen-p/notes_inbox/40.,"New Generation, Nov 30th",tim.belden@enron.com,2000-12-05 06:42:00+00:00,---------------------- Forwarded by Tim Belden...,forwarded by tim beldenhouect on 12052000 054...,forwarded by tim beldenhouect on 12052000 0544...,forwarded tim beldenhouect 12052000 0544 krist...,forwarded tim beldenhouect 12052000 0544 krist...,0.0000,-0.015152,0.393939,True,True
8641,badeer-r/all_documents/101.,RE: Path 26 OTC increase -- IMPORTANT,tim.belden@enron.com,2000-08-20 21:12:00+00:00,check this out and let everyone know what's up...,check this out and let everyone know what's up...,check this out and let everyone know what ' s ...,check let everyone know ' forwarded tim belden...,check let everyone know ' forwarded tim belden...,0.9756,0.013605,0.358503,True,True

In [9]:
isPoi_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5579 entries, 1042 to 516364
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   file          5579 non-null   object
 1   subject       5358 non-null   object
 2   sender        5579 non-null   object
 3   date          5579 non-null   datetime64[ns, UTC]
 4   content       5579 non-null   object
 5   clean         5576 non-null   object
 6   tokenize      5576 non-null   object
 7   stop_words    5573 non-null   object
 8   lemmatize     5573 non-null   object
 9   intensity     5579 non-null   float64
 10  polarity      5579 non-null   float64
 11  subjectivity  5579 non-null   float64
 12  is_poi        5579 non-null   bool
 13  is_internal   5579 non-null   bool
dtypes: bool(2), datetime64[ns, UTC](1), float64(3), object(8)
memory usage: 577.5+ KB

In [5]:
df_2000, df_2001 = wrangle.create_topic_dataframes(df)

AttributeError: 'Series' object has no attribute 'year'

In [10]:
df.head()

,file,subject,sender,date,content,clean,tokenize,stop_words,lemmatize,intensity,polarity,subjectivity,is_poi,is_internal
0,allen-p/_sent_mail/1.,NaN,phillip.allen@enron.com,2001-05-14 23:39:00+00:00,Here is our forecast\n\n,here is our forecast,here is our forecast,forecast,forecast,0.0000,0.00,0.000000,False,True
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,2001-05-04 20:51:00+00:00,Traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling business meeting takes fun trip espe...,traveling business meeting take fun trip espec...,0.9313,0.15,0.613333,False,True
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,2000-10-18 10:00:00+00:00,test successful. way to go!!!,test successful way to go,test successful way to go,test successful way go,test successful way go,0.5859,0.75,0.950000,False,True
3,allen-p/_sent_mail/1000.,NaN,phillip.allen@enron.com,2000-10-23 13:13:00+00:00,"Randy,\n\n Can you send me a schedule of the s...",randy can you send me a schedule of the sala...,randy can you send me a schedule of the salary...,randy send schedule salary level everyone sche...,randy send schedule salary level everyone sche...,0.0000,0.00,0.000000,False,True
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,2000-08-31 12:07:00+00:00,Let's shoot for Tuesday at 11:45.,let's shoot for tuesday at 1145,let ' s shoot for tuesday at 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,-0.3400,0.00,0.000000,False,True

In [11]:
def create_time_series_df_allyears(df):
    df = df.drop(columns = ['file', 'sender', 'subject', 'content', 'clean', 'tokenize', 'stop_words', 'lemmatize', 'is_internal', 'is_poi'])

    df.date = pd.to_datetime(df.date, utc=True)

    df = df.set_index('date').sort_index()

    df['year'] = df.index.year
    df['month'] = df.index.month
    
    return df

In [12]:
df = create_time_series_df_allyears(df)
df.head()

                           intensity  polarity  subjectivity  year  month
date
1980-01-01 00:00:00+00:00     0.6124 -0.104861      0.431250  1980      1
1980-01-01 00:00:00+00:00     0.0000  0.000000      0.000000  1980      1
1980-01-01 00:00:00+00:00     0.9943  0.278879      0.575575  1980      1
1980-01-01 00:00:00+00:00     0.6908  0.008333      0.633333  1980      1
1980-01-01 00:00:00+00:00     0.7184  0.043810      0.373810  1980      1

In [13]:
df.index.year.value_counts()

2001    272964
2000    196100
2002     35974
1999     11144
1980       522
1997       437
1998       177
2004        70
2044         3
1986         2
2012         2
2020         2
2005         1
2007         1
2024         1
2043         1
Name: date, dtype: int64

In [15]:
df.to_csv('03-ts_all_years_data.csv')

In [ ]:
import email
from email.parser import Parser

# Acquire Emails (acquires dataset)
def acquire_emails():
    df = pd.read_csv('email.csv')

    bodies = []
    dates = []
    senders = []
    subjects = []

    # loop through email messages
    for i in df.message:
        # parse and set message to email data type
        headers = Parser().parsestr(i)
        # get the body text of the email
        body = headers.get_payload()
        # get the date from email
        date = headers['Date']
        # get sender of email
        sender = headers['From']
        # get email subject
        subject = headers['Subject']
        # append date, body, sender, subjectg text to lists
        bodies.append(body)
        dates.append(date)
        senders.append(sender)
        subjects.append(subject)

    # Set lists to dataframes
    body_df = pd.DataFrame(bodies, columns = ['Content'])
    dates_df = pd.DataFrame(dates, columns = ['Date'])
    senders_df = pd.DataFrame(senders, columns = ['Sender'])
    subjects_df = pd.DataFrame(subjects, columns = ['Subject'])

    # Create a series of those colums
    content = body_df['Content']
    dates = dates_df['Date']
    send = senders_df['Sender']
    subj = subjects_df['Subject']

    # Insert those seriess into our orignal dataframe and create those columns
    df.insert(1, "content", content)
    df.insert(1, "date", dates)
    df.insert(1, "sender", send)
    df.insert(1, "subject", subj)

    # drop message 
    df = df.drop(columns = ['message'])

    return df