In [1]:
import wrangle_pj
import pandas as pd
import numpy as np

In [23]:
#df = wrangle_pj.acquire_emails()
df = pd.read_csv('email.csv')
df.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

In [24]:
import email
from email.parser import Parser

In [25]:
bodies = []
dates = []

# loop through email messages
for i in df.message:
    # parse and set message to email data type
    headers = Parser().parsestr(i)
    # get the body text of the email
    body = headers.get_payload()
    # get the date from email
    date = headers['Date']
    # append date and body text to lists
    bodies.append(body)
    dates.append(date)

In [26]:
# Set lists to dataframes
body_df = pd.DataFrame(bodies, columns = ['Content'])
dates_df = pd.DataFrame(dates, columns = ['Date'])

In [27]:
content = body_df['Content']
dates = dates_df['Date']

In [28]:
df.insert(1, "content", content)
df.insert(1, "date", dates)

df = df.drop(columns = ['message'])

In [29]:
df.head()

,file,date,content
0,allen-p/_sent_mail/1.,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n
1,allen-p/_sent_mail/10.,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...
2,allen-p/_sent_mail/100.,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!
3,allen-p/_sent_mail/1000.,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s..."
4,allen-p/_sent_mail/1001.,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.

# Created acquire for intial data frame need emails DF

In [2]:
df2 = wrangle_pj.acquire_emails()
df2.head()

,file,subject,sender,date,content
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s..."
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.

In [ ]:
df2 = wrangle_pj.clean_emails(df2)

df2.head()