In [1]:
import wrangle_pj
import pandas as pd
import numpy as np

In [23]:
#df = wrangle_pj.acquire_emails()
df = pd.read_csv('email.csv')
df.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

In [13]:
import email
from email.parser import Parser

In [25]:
bodies = []
dates = []

# loop through email messages
for i in df.message:
    # parse and set message to email data type
    headers = Parser().parsestr(i)
    # get the body text of the email
    body = headers.get_payload()
    # get the date from email
    date = headers['Date']
    # append date and body text to lists
    bodies.append(body)
    dates.append(date)

In [26]:
# Set lists to dataframes
body_df = pd.DataFrame(bodies, columns = ['Content'])
dates_df = pd.DataFrame(dates, columns = ['Date'])

In [27]:
content = body_df['Content']
dates = dates_df['Date']

In [28]:
df.insert(1, "content", content)
df.insert(1, "date", dates)

df = df.drop(columns = ['message'])

In [29]:
df.head()

,file,date,content
0,allen-p/_sent_mail/1.,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n
1,allen-p/_sent_mail/10.,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...
2,allen-p/_sent_mail/100.,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!
3,allen-p/_sent_mail/1000.,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s..."
4,allen-p/_sent_mail/1001.,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.

# Created acquire for intial data frame need emails DF

In [2]:
df2 = wrangle_pj.acquire_emails()
df2.head()

,file,subject,sender,date,content
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s..."
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.

In [14]:
import nltk

In [5]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Plobethewarrior\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [7]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Plobethewarrior\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [15]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Plobethewarrior\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\omw-1.4.zip.

True

In [16]:
df2 = wrangle_pj.clean_emails(df2)

df2.head()

,file,subject,sender,date,content,clean,tokenize,stop_words,stemm,lemmatize
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n,here is our forecast,here is our forecast,forecast,forecast,forecast
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...,travel to have a busi meet take the fun out of...,traveling to have a business meeting takes the...,traveling business meeting takes fun trip espe...,travel busi meet take fun trip especi prepar p...,traveling business meeting take fun trip espec...
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!,test success way to go,test successful way to go,test successful way go,test success way go,test successful way go
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s...",randi can you send me a schedul of the salari ...,randy can you send me a schedule of the salary...,randy send schedule salary level everyone sche...,randi send schedul salari level everyon schedu...,randy send schedule salary level everyone sche...
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.,let ' s shoot for tuesday at 1145,let ' s shoot for tuesday at 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145

In [18]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Plobethewarrior\AppData\Roaming\nltk_data...

True

In [19]:
df2 = wrangle_pj.create_scores(df2)
df2.head()

polarity and subjectivity algo complete
added sub and pol to df

,file,subject,sender,date,content,clean,tokenize,stop_words,stemm,lemmatize,intensity,polarity,subjectivity
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n,here is our forecast,here is our forecast,forecast,forecast,forecast,0.0000,0.00,0.000000
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...,travel to have a busi meet take the fun out of...,traveling to have a business meeting takes the...,traveling business meeting takes fun trip espe...,travel busi meet take fun trip especi prepar p...,traveling business meeting take fun trip espec...,0.9313,0.15,0.613333
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!,test success way to go,test successful way to go,test successful way go,test success way go,test successful way go,0.5859,0.75,0.950000
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s...",randi can you send me a schedul of the salari ...,randy can you send me a schedule of the salary...,randy send schedule salary level everyone sche...,randi send schedul salari level everyon schedu...,randy send schedule salary level everyone sche...,0.0000,0.00,0.000000
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.,let ' s shoot for tuesday at 1145,let ' s shoot for tuesday at 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,-0.3400,0.00,0.000000

In [20]:
df2.shape

(517401, 13)

In [3]:
df = wrangle_pj.create_topic_df()
df.head()

polarity and subjectivity algo complete
added sub and pol to df

,file,subject,sender,date,content,clean,tokenize,stop_words,lemmatize,intensity,polarity,subjectivity,poi,internal
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n,here is our forecast,here is our forecast,forecast,forecast,0.0000,0.00,0.000000,False,True
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling business meeting takes fun trip espe...,traveling business meeting take fun trip espec...,0.9313,0.15,0.613333,False,True
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!,test successful way to go,test successful way to go,test successful way go,test successful way go,0.5859,0.75,0.950000,False,True
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s...",randy can you send me a schedule of the sala...,randy can you send me a schedule of the salary...,randy send schedule salary level everyone sche...,randy send schedule salary level everyone sche...,0.0000,0.00,0.000000,False,True
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.,let's shoot for tuesday at 1145,let ' s shoot for tuesday at 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,-0.3400,0.00,0.000000,False,True

In [4]:
df.isna().sum()

file            0
subject         0
sender          0
date            0
content         0
clean           0
tokenize        0
stop_words      0
lemmatize       0
intensity       0
polarity        0
subjectivity    0
poi             0
internal        0
dtype: int64

In [5]:
df.to_csv('bert.csv')

In [6]:
time_series_df = wrangle_pj.create_time_series_df(df)
time_series_df.head()

                           intensity  polarity  subjectivity    poi  internal
date
1980-01-01 00:00:00+00:00     0.6124 -0.104861      0.431250  False      True
1980-01-01 00:00:00+00:00     0.0000  0.000000      0.000000  False      True
1980-01-01 00:00:00+00:00     0.9943  0.278879      0.575575  False      True
1980-01-01 00:00:00+00:00     0.6908  0.008333      0.633333  False      True
1980-01-01 00:00:00+00:00     0.7184  0.043810      0.373810  False      True

In [8]:
time_series_df = time_series_df.drop(columns = ['poi', 'internal'])

In [9]:
time_series_df.head()

                           intensity  polarity  subjectivity
date
1980-01-01 00:00:00+00:00     0.6124 -0.104861      0.431250
1980-01-01 00:00:00+00:00     0.0000  0.000000      0.000000
1980-01-01 00:00:00+00:00     0.9943  0.278879      0.575575
1980-01-01 00:00:00+00:00     0.6908  0.008333      0.633333
1980-01-01 00:00:00+00:00     0.7184  0.043810      0.373810

In [10]:
time_series_df = wrangle_pj.time_series_df_final(time_series_df)
time_series_df.head()

                           intensity  polarity  subjectivity  year  month
date
1999-01-04 10:21:00+00:00     0.2023  0.000000      0.000000  1999      1
1999-01-04 10:21:00+00:00     0.2023  0.000000      0.000000  1999      1
1999-01-04 12:11:00+00:00     0.3182  0.016667      0.266667  1999      1
1999-01-04 12:11:00+00:00     0.3182  0.016667      0.266667  1999      1
1999-01-05 06:36:00+00:00     0.9895  0.076871      0.329783  1999      1

In [11]:
time_series_df.shape

(516182, 5)