In [1]:
# Here We'll test wrangle modules / explore modules / anything else needed

In [2]:
import wrangle
import pandas as pd

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns

# raw, unparsed data

In [3]:
# reading in raw, unparsed data
raw_df = pd.read_csv('00-raw_data.csv')

In [4]:
# size
raw_df.shape

(517401, 3)

In [5]:
# preview
raw_df.head(5)

,Unnamed: 0,file,message
0,0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...
1,1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...
2,2,allen-p/_sent_mail/100.,Message-ID: <24216240.1075855687451.JavaMail.e...
3,3,allen-p/_sent_mail/1000.,Message-ID: <13505866.1075863688222.JavaMail.e...
4,4,allen-p/_sent_mail/1001.,Message-ID: <30922949.1075863688243.JavaMail.e...

In [6]:
raw_df.drop(columns = ['Unnamed: 0'], inplace = True)

In [8]:
raw_df.head(1)

                    file                                            message
0  allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...

In [9]:
raw_df.to_csv('00-raw_data.csv', index = False)

In [11]:
test_raw = pd.read_csv('00-raw_data.csv')

test_raw.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

# raw, parsed data

># `wrangle.py` error 
`wrangle.acquire_emails()` function is calling csv file `email.csv` ---> (standard, semantic naming) `00-raw_data.csv`

In [12]:
# calling function from wrangle file to acquire raw, parsed data
df = wrangle.acquire_emails()

In [13]:
# size
df.shape

(517401, 5)

In [14]:
# preview df
df.head(5)

,file,subject,sender,date,content
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",Here is our forecast\n\n
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Traveling to have a business meeting takes the...
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",test successful. way to go!!!
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)","Randy,\n\n Can you send me a schedule of the s..."
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Let's shoot for Tuesday at 11:45.

# main df and ts df functions

In [16]:
# calling function from wrangle file to clean and prepare main df and ts df
main_df, ts_df = wrangle.create_dataframes_wrangle()

KeyboardInterrupt:

In [17]:
# shapes
main_df.shape, ts_df.shape

NameError: name 'main_df' is not defined

In [18]:
main_df.head()

,file,subject,sender,date,content,clean,tokenize,stop_words,lemmatize,intensity,polarity,subjectivity,is_poi,is_internal
0,allen-p/_sent_mail/1.,,phillip.allen@enron.com,2001-05-14 23:39:00+00:00,Here is our forecast\n\n,here is our forecast,here is our forecast,forecast,forecast,0.0000,0.00,0.000000,False,True
1,allen-p/_sent_mail/10.,Re:,phillip.allen@enron.com,2001-05-04 20:51:00+00:00,Traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling to have a business meeting takes the...,traveling business meeting takes fun trip espe...,traveling business meeting take fun trip espec...,0.9313,0.15,0.613333,False,True
2,allen-p/_sent_mail/100.,Re: test,phillip.allen@enron.com,2000-10-18 10:00:00+00:00,test successful. way to go!!!,test successful way to go,test successful way to go,test successful way go,test successful way go,0.5859,0.75,0.950000,False,True
3,allen-p/_sent_mail/1000.,,phillip.allen@enron.com,2000-10-23 13:13:00+00:00,"Randy,\n\n Can you send me a schedule of the s...",randy can you send me a schedule of the sala...,randy can you send me a schedule of the salary...,randy send schedule salary level everyone sche...,randy send schedule salary level everyone sche...,0.0000,0.00,0.000000,False,True
4,allen-p/_sent_mail/1001.,Re: Hello,phillip.allen@enron.com,2000-08-31 12:07:00+00:00,Let's shoot for Tuesday at 11:45.,let's shoot for tuesday at 1145,let ' s shoot for tuesday at 1145,let ' shoot tuesday 1145,let ' shoot tuesday 1145,-0.3400,0.00,0.000000,False,True

In [19]:
ts_df.head()

                           intensity  polarity  subjectivity  year  month
date
1999-01-04 10:21:00+00:00     0.2023  0.000000      0.000000  1999      1
1999-01-04 10:21:00+00:00     0.2023  0.000000      0.000000  1999      1
1999-01-04 12:11:00+00:00     0.3182  0.016667      0.266667  1999      1
1999-01-04 12:11:00+00:00     0.3182  0.016667      0.266667  1999      1
1999-01-05 06:36:00+00:00     0.9895  0.076871      0.329783  1999      1

In [ ]:
df, time_series_df = wrangle.create_dataframes_wrangle()

In [ ]:
df.head()

In [ ]:
time_series_df.head()

In [ ]:
#df.to_csv('01-clean_data.csv')

In [ ]:
#time_series_df.to_csv('02-ts_data.csv')

In [ ]:
df = pd.read_csv('01-clean_data.csv')
df.head()

In [ ]:
df = df.drop(columns = ['Unnamed: 0'])
df.head()

In [ ]:
df.date = pd.to_datetime(df.date, utc=True)

In [ ]:
isPoi_df = df[df.is_poi == True]
isPoi_df.head()

In [ ]:
isPoi_df.info()

In [ ]:
df_2000, df_2001 = wrangle.create_topic_dataframes(df)

In [ ]:
df.head()

In [ ]:
def create_time_series_df_allyears(df):
    df = df.drop(columns = ['file', 'sender', 'subject', 'content', 'clean', 'tokenize', 'stop_words', 'lemmatize', 'is_internal', 'is_poi'])

    df.date = pd.to_datetime(df.date, utc=True)

    df = df.set_index('date').sort_index()

    df['year'] = df.index.year
    df['month'] = df.index.month
    
    return df

In [ ]:
df = create_time_series_df_allyears(df)
df.head()

In [ ]:
df.index.year.value_counts()

In [ ]:
#df.to_csv('03-ts_all_years_data.csv')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
#using train data
by_date = df.groupby(['date']).intensity.sum().reset_index()
by_date.head()

In [ ]:
coolguy = df.groupby(['date']).polarity.sum().reset_index()
doglover = df.groupby(['date']).subjectivity.sum().reset_index()

In [ ]:
#using train data
#plt.figure(figsize=(16,10))
by_date.plot(x = 'date', y = 'intensity', figsize=(16,10))

In [ ]:
coolguy.plot(x = 'date', y = 'polarity', figsize=(16,10))

In [ ]:
doglover.plot(x = 'date', y = 'subjectivity', figsize=(16,10))